@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital@0;1&family=Teko:wght@400;500;600&display=swap');

body {


    font-family: 'Teko', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.sills {
    background-color: #F8F8F8;
}

.textstart {
    color: rgba(229, 146, 45, 0.762);
    font-size: 14px;

}

.specing {
    letter-spacing: 3px;


}

.ms1-2 {
    text-decoration: none;
    margin-left: 6px;
    margin: 3px;
    font-size: 12px;
}

.object-cover {
    object-fit: cover;
}

.font {
    font-family: sans-serif !important;

}

.specing::before {
    content: 'Our Happy Clients Says- (3)';
    border-bottom: 4px solid rgba(67, 55, 46, 0.698);
    letter-spacing: 3px;
    position: absolute;


}

.review-container {
    margin: 0 auto;
    width: 992px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
    .review-container {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .smnone1 {
        display: none !important;
    }
}